/* 
    General Styles
*/

body{ 
    background-image: url("https://fondosmil.com/fondo/81725.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    background: black;
}
button{
    background: none;
    border: none;
}